.App {
  text-align: center;
}
.Recipe-picture{
  height: 540px;
  width: 750px;
  object-fit: cover;
}
.recipe-container{
  background-color: white;
  width: 750px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 /24%)1px 2px 13px;
}
.Recipe-Name{
  padding:16px;
  font-size: 48px;
}
body {
  background-color: whitesmoke;
  font-family: Roboto;
}